body{
    margin: auto;
    background-image: url(../img/1.jpg);
    text-align: center;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    box-shadow:0 0 0 3000px rgba(0, 0, 0, 0.33) inset;
    
}
h1{
    width: 500px;
    height: 50px;
    color: yellow;
    text-align: center;
    font-family: 'Monotype Corsiva';
    margin: auto;
    padding: 5px 20px;
    border-radius: 20px 20px;
    font-size: 45px;
    background-color: ;
}


a{
    color: #07575B;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    margin: auto;
    transition: 0.5s;
    width: 150px;
    display: inline-block;
    border-radius: 20px 15px;
    text-align: center;
}

.ab{
    width: 666px;
    height: 4120px;
    margin: 0px 1220px;
    background-color: ;
    vertical-align: top;
    text-shadow: 2px 1px 5px black;
    
    
}
.bone{
    width: 266px;
    height: 250px;
}
.ab h2{ 
    padding: 5px;
    font-size: 25px; 
    text-align: center;
    margin: auto;
    color: yellowgreen;
}

.ab p{
    color: white;
    font-size: 20px; 
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Ebrima';
    
}



